@keyframes buttonfx {
    0%   {
        filter: none;
    }
    50%  {
        filter: brightness(0.6);
    }
    100% {
        filter: none;
    }
}

body {
    margin: 0;
    width: calc(100vw - 8px);
    height: 100vh;
    color: white;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #222;
    border-left: 4px solid red;
    border-right: 4px solid red;
}
body > h2 {
    margin: 0;
    display: inline;
    position: relative;
    pointer-events: none;
    left: 23px;
    top: 18px;
}
body > h2#name {
    color: transparent;
    -webkit-text-stroke: 1px white;
    margin-left: 437px;
}
table {
    position: relative;
    left: 16px;
    top: 32px;
}

td div {
    background-color: #555;
    border-radius: 2px;
}
td div[id^="button"] {
    width: 66px;
    height: 33px;
    margin: 3px;
    cursor: pointer;
    animation-iteration-count: infinite;
}
td div[id^="minibutton"] {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
td div[id^="minibutton"]:not(#minibutton122) {
    cursor: pointer;
}
td div[id^="fader"] {
    width: 51px;
    height: 153px;
    background-color: #191919;
    margin-left: 10.5px;
    margin-top: 14px;
}
td div[id^="fader"] .fader-slot {
    width: 8px;
    height: 85%;
    background-color: black;
    position: relative;
    left: calc(50% - 4px);
    top: 7.5%;
}
td div[id^="fader"] .fader-knob {
    width: 95%;
    height: 4px;
    margin-top: 8px;
    background-color: #ddd;
    border-top: 5px solid #111;
    border-bottom: 5px solid #111;
    position: relative;
    left: 2.5%;
}
#minibuttons td div {
    margin-top: 8px;
}
div#button27 { border-top-right-radius: 6px; }
div#button28 { border-top-left-radius: 6px; }
div#button35 { border-bottom-right-radius: 6px; }
div#button36 { border-bottom-left-radius: 6px; }

#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
#overlay #config-window {
    background-color: #222;
    width: 50vw;
    height: 38vh;
    position: absolute;
    left: 25vw;
    top: 31vh;
    border-radius: 8px;
    text-align: center;
}
#overlay #config-window span {
    font-size: 17px;
}
#overlay #config-window select, #overlay #config-window select option {
    background-color: #222;
    color: white;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
}
#overlay #config-window button#confirm { background-color: lightgreen; }
#overlay #config-window button#exit { background-color: salmon; }
#overlay #config-window button {
    color: black;
    font-size: 24px;
    padding: 3px 16px;
    margin: 0 5%;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: .25s ease;
}
#overlay #config-window button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#overlay #error-window {
    display: none;
    background-color: #222;
    width: 60vw;
    height: 20vh;
    position: absolute;
    left: 20vw;
    top: 40vh;
    border-radius: 8px;
    text-align: center;
}
#overlay #error-window h2 { margin: 25px 0; }
